<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO: work out which data to use for Title atribute</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      {% include '_navigation.html' %}
    </header>
    <main>
      <h1>Details for URL: <a href="{{ latest_article.url }}">{{ latest_article.url }}</a></h1>
      <h2>Most Recent Data</h2>
      <ul>
        <li><b>Headline: </b> {{ latest_article.parsed['headline'] }} </li>
        <li><b>Byline: </b> {{ latest_article.parsed['byline'] }} </li>
        <li><b>Timestamp: </b>{{ latest_article.parsed['_timestamp'] }} </li>
        <li><b>Snapshots: </b>{{ snapshots }} </li>
        <li><b>Fetches: </b>{{ fetches }} | <a href="{{ url_for('fetch_history') }}?url={{ latest_article.url | urlencode }}">View Fetch History</a></li>
        <li><b>Schedule Level: </b>{{ schedule_level }} </li>
      </ul>
      <h2>Compare Versions</h2>
      <ul>
        {% for id_pair in compare_ids %}
        <li><a href="{{ url_for('compare') }}?id_a={{ id_pair[1] }}&id_b={{ id_pair[2] }}&version_a={{ id_pair[0][0] }}&version_b={{ id_pair[0][1] }}&url={{ latest_article.url | urlencode }}">Compare version {{ id_pair[0][0] }} with version {{ id_pair[0][1] }}</a></li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>