<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO: work out which data to use for Title atribute</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      {% include '_navigation.html' %}
    </header>
    <main>
      <h1>Article page</h1>
      <p>This template will show the details of the specific article requested, e.g. metadata, fetch times, etc.</p>
      <p><b>URL: </b>{{ url }}</p>
      <h2>Testing the routing...</h2>
      <p>Example link to one of the comparison pages:</p>
      <p><a href="{{ url_for('compare') }}">Compare original version to version 2</a></p>
    </main>
  </body>
</html>