<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compare verion X to X</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      {% include '_navigation.html' %}
    </header>
    <main>
      <h1>Compare page</h1>
      <ul>
        <li>id_a is {{ id_a }}</li>
        <li>id_b is {{ id_b }}</li>
      </ul>
    </main>
    </body>
</html>