<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Updates Monitor: Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      {% include '_navigation.html' %}
    </header>
    <main>
      <h1>News Updates Monitor Web Interface</h1>
      <p><b>Total number of unique articles: </b> {{ total }} </p>
      <p><i>list of articles links goes here...</i></p>
      <p><a href="{{ url_for('article') }}">Article template page</a></p>
      <br>

      <h2>Pagination testing</h2>
      <ul>
        <li>Total pages: {{ total_pages }} </li>
        <li>Requested page: {{ page }} </li>
        <li>Previous page: {{ page_prev }} </li>
        <li>Next page: {{ page_next }} </li>
        <li>page_start: {{ page_start }} </li>
        <li>page_end: {{ page_end }} </li>
        <li>Offset: {{ offset }} </li>
      </ul>

      <h2>Testing article listing</h2>
      <table class="url-list">
        <tr>
          <th scope="col">URL</th>
          <th scope="col">Details</th>
          <th scope="col">rowid (debug)</th>
        </tr>
        {% for row in article_urls  %}
        <tr>
          <th scope="row" class="left-align">
            <a href="{{ row[0] }}" target="_blank">{{ row[0] }}</a>
          </th>
          <td class="center">
            <a href="{{ url_for('article') }}?url={{ row[0] | urlencode }}" aria-label="Details">&rarr;</a>
          </td>
          <td>
            {{ row[1] }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>