<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Updates Monitor: Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      {% include '_navigation.html' %}
    </header>
    <main>
      <h1>News Updates Monitor Web Interface</h1>
      <p>Total unique articles: <b>{{ "{:,}".format(total) }}</b> </p>
      <p>Total article snapshots (original + changes): <b>{{ "{:,}".format(total_snapshot) }}</b></p>
      <p>Total article fetches (HTTP requests): <b>{{ "{:,}".format(total_fetch) }}</b></p>
      
      {% include '_pagination.html' %}

      <table class="url-list">
        <tr>
          <th scope="col">URL</th>
          <th scope="col">Snapshots</th>
          <th scope="col">Details</th>
        </tr>
        {% for row in article_urls  %}
        <tr>
          <th scope="row" class="left-align">
            <a href="{{ row[0] }}" target="_blank">{{ row[0] }}</a>
          </th>
          <td class="center">{{ row[1] }}</td>
          <td class="center">
            <a href="{{ url_for('article') }}?url={{ row[0] | urlencode }}" aria-label="Details">&rarr;</a>
          </td>
        </tr>
        {% endfor %}
      </table>

      {% include '_pagination.html' %}

    </main>
  </body>
</html>