body {
    font-family: 'Cabin', Trebuchet, 'Trebuchet MS', sans-serif;
    padding: 1em;
}

main {
    font-size: 130%;
}

table.url-list {
    padding-left: 0em;
}

table.url-list th[scope='row'] {
    padding: 0.5rem;
}

table.url-list th[scope='row'] a {
    font-weight: normal;
}

table.url-list th[scope='col'] {
    border-bottom: 0.18rem solid black;
    padding: 0.5rem;
}

table.url-list  td {

}

.center {
    text-align: center;
}

.left-align {
    text-align: left;
}

nav.pagination {
    padding: 1rem 0rem 1rem 0rem;
}

.pagination ul {
    padding-left: 0rem;
}

.pagination li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.pagination li a {
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    outline: 0.18rem solid black;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

/* Diff_HTML <table> styling */
table.diff {
    font-family:Courier;
    border:medium;
    margin-bottom: 1rem;
}
.diff_header {background-color:#e0e0e0}
td.diff_header {text-align:right}
.diff_next {background-color:#c0c0c0}
.diff_add {background-color:#aaffaa}
.diff_chg {background-color:#ffff77}
.diff_sub {background-color:#ffaaaa}
td[id], td[id] + td {padding-top: 20px;}
td[nowrap] {padding-left: 20px;
            padding-right: 20px;}

body.diff_html {
    padding-left: 0;
}

body.diff_html main {
    font-size: 100%;
}


table.fetch-history {
    padding-left: 0em;
}

table.fetch-history th {
    border-bottom: 0.18rem solid black;
    padding: 0.5rem;
}

table.fetch-history td {
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-align: center;
}
